<% include partials/header %>

<h1>Login</h1>

<div class="alert alert-danger" id="messages"><%= message %></div>

<form method="POST" action="/users/login">
    <table class="table">
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="password" id="password" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" ></td>
        </tr>
    </table>
</form>

<% include partials/footer %>