<% include partials/header %>

<h1>Register</h1>

<div class="alert alert-danger" id="messages"><%= message %></div>

<form method="POST" action="/users/add">
    <table class="table">
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="password" id="password" pattern="[A-Za-z0-9]{6,}"
                     title="Six or more alphabets and digits" required></td>
        </tr>
        <tr>
            <td><label>Confirm Password</label></td>
            <td><input type="password" name="confirm_password" id="confirm_password" onchange="checkInput()" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" id="form_id" onsubmit="return checkInput();"></td>
        </tr>
    </table>
</form>
<script>
    function checkInput(){
        pwd = document.getElementById('password').value;
        cpwd = document.getElementById('confirm_password').value;
        if(pwd != cpwd){
            document.getElementById('messages').innerHTML = "Confirm Password should be same as Password";
            return false;
        }else{
            return true;
        }
    }
</script>
<% include partials/footer %>